.App {
  font-family: Roboto arial, sans-serif;
}
.App-header {
  text-align: center;
  max-width: 600px;
  margin: auto;
  border: 1px solid navy;
  border-radius: 20px;

  background-color: lavender;
}
.git-link {
  text-align: center;
  margin: auto;
}
